@import "../app.css";

.container {
  inset: 0;
  min-height: 100vh;
  overflow-y: auto;
}

.section {
  min-width: 800px;
  z-index: 1;
}

.app-logo {
  width: 60px;
  margin: 0 auto;
}

.background {
  inset: 0;
  position: absolute;
  opacity: 0.1;
  overflow-y: hidden;
}

.description {
  color: Black;
  text-align: center;

  /* Web/Body 1 */
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 10px;
}

.title {
  color: var(
    --Light-Mode-Foreground-Neutral-Primary,
    var(--Foreground-Neutral-Primary, #111)
  );
  text-align: center;
  font-family: "Segoe UI";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.assistants {
  text-align: center;
  font-family: "Segoe UI";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */

  background: var(
    --Gradient-M365-Chat-Light-Accessible,
    linear-gradient(90deg, #464feb 10.42%, #8330e9 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orb {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  filter: blur(50px);
  background: radial-gradient(circle);
  position: absolute;
}

.orb.one {
  bottom: -40%;
  left: 47.5%;
  background-color: rgba(70, 79, 235, 1);
}

.orb.two {
  bottom: -30%;
  left: 25%;
  background-color: rgb(18, 172, 149);
  z-index: 1;
}

.orb.three {
  bottom: -40%;
  left: 2.5%;
  background-color: rgb(199, 20, 184);
}

.new-task-control:has(> textarea:disabled)::before,
.new-task-control:has(> textarea:disabled)::after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #fb0094,
    #0000ff,
    #fb0094,
    #0000ff,
    #fb0094,
    #0000ff
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: var(--bulma-input-radius);
  opacity: 0.5;
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.new-task-control::after {
  filter: blur(25px);
}

.text-input-container {
  width: 950px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

textarea {
  width: 98%;
  padding: 16px 0px 0px 0px;
  border: none;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  outline: none;
  overflow: hidden;
  margin: 0 10px;
  align-items: center;
  background-color: white;
}
textarea:disabled {
  cursor: default;
  background-color: white;
}

/*Spinner start*/
#spinnerLoader {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  inset: 0;
  color: black;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgb(247, 249, 251);*/
  z-index: 9999;
  font-weight: 500;
}

#spinnerLoader span::before {
  content: "Creating Tasks...";
  animation: spinLoaderAnimation infinite 3s linear;
}

@keyframes spinLoaderAnimation {
  75% {
    content: "Agents are on it...";
  }
}

#spinnerLoader i {
  font-size: 3rem;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);

  z-index: 1;
}

/*Spinner end*/

.middle-bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0px 5px;
  background-color: white;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  border-top: none;
  border-bottom: 4px solid #0f6cbd;
  background-color: white;
}

.icons {
  display: flex;
  align-items: center;
}

.star-icon {
  margin-right: 10px;
  cursor: pointer;
}

.char-count {
  font-size: 14px;
  color: #888;
}

.send-button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #007bff;
  padding: 4px;
  outline: none;
}

.send-button:hover {
  color: #0056b3;
}
