fastapi
uvicorn
azure-cosmos
azure-monitor-opentelemetry
azure-monitor-events-extension
azure-identity
python-dotenv
python-multipart
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai
opentelemetry-exporter-otlp-proto-http
semantic-kernel
azure-ai-projects 
openai 
azure-ai-inference 
azure-search-documents 
azure-ai-evaluation
pytest
pytest-asyncio