/* TaskList Component Styles */

.task-list-task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.1s; /* tokens.durationFaster */
    transition-timing-function: cubic-bezier(0.33, 0.00, 0.67, 1.00); /* tokens.curveEasyEase */
}

.task-accordion-header {
    color: var(--colorNeutralForeground3);
    padding: 0px 16px 0px 0;
    background-color: transparent;
    cursor: pointer;
    justify-content: space-between;
    height: 32px;
}

.task-list-task-date {
    font-size: 0.75rem; /* tokens.fontSizeBase200 */
    color: #616161; /* tokens.colorNeutralForeground2 */
}
