:root {
    --bulma-link-h: 200deg;
    --bulma-info-s: 0%;
    --bulma-link-l: 0%;

    --bulma-info-h: 237deg;
    --bulma-info-s: 80%;
    --bulma-info-l: 60%;

    --bulma-focus-h: 237deg;
    --bulma-focus-s: 80%;
    --bulma-focus-l: 60%;

    --bulma-scheme-h: 200;
    --bulma-scheme-s: 0%;

    --bulma-soft-l: 80%;
    --bulma-bold-l: 0%;

    --bulma-family-primary: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    --bulma-family-secondary: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;

    --bulma-body-background-color: hsl(0, 100%, 100%);
    --bulma-body-color: rgb(74, 74, 74);
    --bulma-strong-color: hsl(0, 0%, 0%);
    --bulma-control-radius: 1000px;
    --bulma-info-invert-l: 98%;

    --bulma-success-h: 134deg;
    --bulma-success-s: 61%;
    --bulma-success-l: 41%;
    --bulma-success-invert-l: 98%;

    --bulma-danger-h: 354deg;
    --bulma-danger-s: 70%;
    --bulma-danger-l: 54%;
}

.card {
    --bulma-card-color: rgb(74, 74, 74);
    --bulma-card-shadow: rgba(51, 51, 51, 0.05) 0px 1px 2px 0px,
        rgba(51, 51, 51, 0.05) 0px 2px 4px 0px,
        rgb(214, 217, 224) 0px 0px 0px 1px inset;
    --bulma-card-header-shadow: 0;
}

.card.is-hoverable {
    transition: all 0.2s ease-in-out;
}

.card.is-hoverable:hover {
    cursor: pointer;
    transform: translateY(-2px);
    --bulma-card-shadow: 0 0 2px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.14),
        rgb(70, 79, 235) 0px 0px 0px 1px inset;
}

.media {
    --bulma-media-border-size: 0;
}

.modal-card-head {
    box-shadow: 0px 1px 1px 0px rgb(214, 217, 224);
}

.modal {
    --bulma-modal-background-background-color: hsla(0, 0%, 0%, 0.5);
    --bulma-modal-card-head-background-color: hsl(0, 0%, 100%);
    --bulma-modal-card-title-color: hsl(0, 0%, 0%);
    --bulma-modal-card-foot-background-color: hsl(0, 0%, 100%);
    --bulma-modal-card-body-background-color: hsl(0, 0%, 100%);
}

.box {
    --bulma-box-color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), var(--bulma-menu-item-color-l));
    --bulma-box-shadow: rgb(214, 217, 224) 0px 0px 0px 1px;
}

.panel {
    --bulma-panel-shadow: rgb(214, 217, 224) 0px 0px 0px 1px;
    --bulma-panel-block-hover-background-color: hsl(0, 0%, 100%);
}

.tabs {
    --bulma-tabs-link-active-border-bottom-color: hsl(0, 0%, 0%);
    --bulma-tabs-link-active-color: hsl(0, 0%, 0%);
}

.tag {
    border-radius: var(--bulma-control-radius);
    font-weight: 500;
}

.menu-label {
    --bulma-menu-label-color: hsl(0, 0%, 0%);
    --bulma-menu-label-font-size: .85rem;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0;
}

.menu-list i {
    color: hsl(0, 0%, 0%);
}

.title {
    font-weight: 700;
    color: hsl(0, 0%, 0%);
}

.button {
    --bulma-button-ghost-color: hsl(0, 0%, 0%);
}

.modal {
    --bulma-modal-card-title-size: 1.15rem;
    --bulma-modal-card-head-padding: 1rem 2rem;
}

.modal-card-title {
    font-weight: 600;
}

.modal-card-head {
    display: flex;
    align-items: center;
}

.modal-card-head .button {
    --bulma-button-padding-horizontal: 0.68rem;
}

.modal-card-head .button i {
    margin-top: 1px;
}

.dropdown-content {
    padding: var(--bulma-dropdown-content-padding-bottom);
    box-shadow: var(--bulma-dropdown-content-shadow), rgb(214, 217, 224) 0px 0px 0px 1px inset;
}

.dropdown-content a.dropdown-item {
    border-radius: 0.25rem;
}

.input:focus,
.input:focus-within,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.select select:focus,
.select select:focus-within,
.textarea:focus,
.textarea:focus-within {
    border-color: hsl(var(--bulma-input-focus-h), var(--bulma-input-focus-s), var(--bulma-input-focus-l));
    box-shadow: var(--bulma-input-focus-shadow-size) hsla(var(--bulma-input-focus-h), var(--bulma-input-focus-s), var(--bulma-input-focus-l), var(--bulma-input-focus-shadow-alpha));
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}